<div class="fixed top-0 w-full flex items-center justify-between px-2 py-2 shadow-lg border-b-2 border-gray-300 h-[60px]">
    <div>
        <img src="https://www.ilovepdf.com/img/ilovepdf.svg" alt="" srcset="" class="h-[30px] w-auto">
    </div>
    <div class="flex items-center justify-between basis-2/4">
        <p class="uppercase text-sm cursor-pointer font-medium hover:text-blue-600 ">merge pdf</p>
        <p class="uppercase text-sm cursor-pointer font-medium hover:text-blue-600 ">split pdf</p>
        <p class="uppercase text-sm cursor-pointer font-medium hover:text-blue-600 ">compress pdf</p>
        <p class="uppercase text-sm cursor-pointer font-medium hover:text-blue-600 ">convert pdf</p>
        <p class="uppercase text-sm cursor-pointer font-medium hover:text-blue-600 ">all pdf tools</p>
    </div>
    <div class="flex gap-x-2 items-center justify-between">
        <p class="capitalize px-2 py-1 cursor-pointer">login</p>
        <p class="capitalize rounded-md px-2 py-1 bg-blue-500 text-white cursor-pointer ">signup</p>
    </div>
</div>
